* {
    font-family: 'Arial';
    padding: 0;
    margin: 0;
    /* text-align: center; */
    /* scroll-behavior: smooth; */
    /* -webkit-user-select: none; */
    /* Safari */
    /* -moz-user-select: none; */
    /* Firefox */
    /* -ms-user-select: none; */
    /* IE10+/Edge */
    /* user-select: none; */
    /* Standard */
    /* touch-action: pan-y; */
}

.main {
    width: calc(min(50em, 90vw));
    margin: auto;
    font-family: 'Arial';
}

.topbar {
    display: flex;
    align-items: center;
    /* background-color: lightblue; */
    font-size: 3em;
    font-weight: bold;
    justify-content: space-between;
}

.topbar-button {
    height: 0.5em;
}

/* INPUT AREA */

.dice-face {
    height: 2em;
    width: 2em;
    margin-right: 0.5em;
}

.arrow-image {
    display: block;
    width: calc(var(--box-width)*0.8);
    padding-left: calc(var(--box-width)*0.1);
    padding-right: calc(var(--box-width)*0.1);
}

.input-image {
    display: block;
    width: var(--box-width);
    margin: calc(var(--box-width)*0.1) auto;
}

.input-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(var(--box-width)*0.8);
    width: 100%;
    padding: auto;
    font-weight: bold;
    text-align: center;
    /* Undo input formatting */
    border: none;
    outline: none;
    background-color: transparent;
}

.input-triple {
    position: relative;
}

#input-area {
    --box-width: 2.5em;
    display: flex;
    justify-content: space-around;
    width: calc(min(100%, calc(8*var(--box-width))));
    /* background-color: grey; */
    flex-wrap: wrap;
}

/* BUTTONS */

.button {
    background-color: lightgrey;
    border-radius: 0.3em;
    border: 2px solid black;
    font-size: 1em;
    padding: 0.2em;
}

/* STANDARD FLEX FORMATTING */

.standard-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -0.5em;
    margin-left: -0.5em
}

.standard-flex>* {
    margin: 0.5em;
}

.full-width {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: -0.5rem;
    font-size: 1.4em;
}

.break {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* SIMULATION TABLE FORMATTING */

.results-table {
    border-spacing: 3px;
    align-self: flex-start;
}

.results-table th,
.results-table td {
    padding: 0.2rem;
    background-color: lightgray;
    font-weight: normal;
    text-align: center;
}

.results-table .headline {
    font-size: 2em;
}

.results-table .smaller-headline {
    font-size: 1.4em;
}

.results-table .subheadline {
    text-align: left;
}

.results-table .smaller {
    font-size: 0.7em;
}

.results-table .bold *{
    font-weight: bold;
}

/* SPECIFC FORMATTING FOR INDIVIDUAL TABLES */

#winner-table th {
    background-color: #D14216;
}

#defeat-table th {
    background-color: #218BCC;
}

#roll-table th {
    background-color: #D14216;
}

#roll-stats-table th {
    background-color: #767171;
}

/* #roll-table tr>*:first-child:not(#roll-explanation-text) {
    text-align: right
} */

#roll-table-explanation-text{
    width: 100px;
    text-align: left;
}

/* COLORS */
.red {
    background-color: #D14216
}

.blue {
    background-color: #218BCC
}