* {
    font-family: 'Arial';
    padding: 0;
    margin: 0;
    /* text-align: center; */
    /* scroll-behavior: smooth; */
    /* -webkit-user-select: none; */
    /* Safari */
    /* -moz-user-select: none; */
    /* Firefox */
    /* -ms-user-select: none; */
    /* IE10+/Edge */
    /* user-select: none; */
    /* Standard */
    /* touch-action: pan-y; */
}

.main {
    width: 90vmin;
    margin-left: 5%;
    font-family: 'Arial';
}

.topbar {
    display: flex;
    align-items: center;
    /* background-color: lightblue; */
    font-size: 3em;
    font-weight: bold;
    justify-content: space-between;
}

.topbar-button {
    height:0.5em;
}

.input-group-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.input-adjust {
    height: .8em;
    width: .8em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.input-text-container {
    --side-length: 1.5em;
    height: var(--side-length);
    width: var(--side-length);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

.input-text {
    height: var(--side-length);
    width: var(--side-length);
    position: absolute;
    z-index: -1;
}

.dice-face {
    height: 2em;
    width: 2em;
    margin-right: 0.5em;
}