* {
    font-family: 'Arial';
    padding: 0;
    margin: 0;
    /* text-align: center; */
    /* scroll-behavior: smooth; */
    /* -webkit-user-select: none; */
    /* Safari */
    /* -moz-user-select: none; */
    /* Firefox */
    /* -ms-user-select: none; */
    /* IE10+/Edge */
    /* user-select: none; */
    /* Standard */
    /* touch-action: pan-y; */
}

.main {
    width: 90vmin;
    margin-left: 5%;
    font-family: 'Arial';
}

.topbar {
    display: flex;
    align-items: center;
    /* background-color: lightblue; */
    font-size: 3em;
    font-weight: bold;
    justify-content: space-between;
}

.topbar-button {
    height: 0.5em;
}



.dice-face {
    height: 2em;
    width: 2em;
    margin-right: 0.5em;
}

.arrow-image {
    display: block;
    width: var(--box-width);
}

.input-image {
    display: block;
    width: var(--box-width);
    margin: calc(var(--box-width)*0.1) auto;
}

.input-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(var(--box-width)*0.8);
    width: 100%;
    padding: auto;
    font-weight: bold;
    text-align: center;
    /* Undo input formatting */
    border: none;
    outline: none;
    background-color: transparent;
}

.input-triple {
    position: relative;
}

.input-area {
    --box-width: 2.5em;
    display: flex;
    justify-content: space-between;
    width: calc(min(100%, calc(10*var(--box-width))));
    /* background-color: grey; */
    flex-wrap: wrap;
}